{% extends './layout.html' %}

{% block content %}

<div class="listBox">
    <h1>Javascript learning</h1>
    <p class="colDefault">
        作者：<span class="colInfo">v-denche</span> -
        时间：<span class="colInfo">2018-01-02</span> -
        阅读：<span class="colInfo">javascript content</span> -
        评论：<span class="colInfo">2</span>
    </p>
    <dfn>
        javascript content content
    </dfn>
</div>

<div class="listBox message">
    <h3 class="textLeft"><strong>评论</strong> <span class="em">一共有 <em id="messageCount">0</em> 条评论</span></h3>

    <p class="bgDanger" style="line-height: 30px;">你还没有登录，请先登录！</p>

    <div class="messageList">
    </div>

    <div class="pager">
        <ul class="clear">
            <li class="previous">
                <a href="">上一页</a>
            </li>
            <li></li>
            <li class="next">
                <a href="">下一页</a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}

